<h1>Movie#index</h1>
<br>
<div class=table-hover>
<table class=table width="40%">
	<tr>
		<th>Sr No.</th>
		<th>MOVIES</th>
		<th>Release date</th>
	</tr>

<% @movies.each_with_index do |movie, index| %>
  <tr class=success>
  	<td><%= index+1 %></td>
		<td><%= link_to movie.title, movie_url(movie) %></td>
		<td><%= movie.release_date %></td>
	</tr>
<% end %>
</table>
</div>
<br>
<%= link_to '<button type="button" class="btn-primary">New Movie</button>'.html_safe, new_movie_url%>