<table border=2 cellspacing="5" cellpadding="10">
	<% @movies.column_names.each do |column| %>
	<th> <%= column %> </th>
	<% end %>
	<th> EDIT </th>
	<th> DELETE </th>
	<% @movies.each do |movie| %>
		<tr>
			<% @movies.column_names.each do |column| %>
				<td>
					<%= movie.send(column) %>
				</td>
			<% end %>
			<td><%= link_to "Edit", edit_movie_path(movie) %></td>
			<td><%= link_to "Delete", movie_path(movie), method: :delete, data:{confirm: 
				'Are you sure?'} %></td>
		</tr>		
	<% end %>
</table>
<br>
<br>