<h1>Home</h1>
<br>
<center>
<div class=table-hover>
	<table style='max-width:1200px;' class=table border=2>
		<tr align=center>
			<th style="width: 10%">Sr No.</th>
			<th style="width: 50%">Tv SHows</th>
			<th style="width: 40%">&nbsp;&nbsp;Premier date</th>
		</tr>

	<% @tvs.order(premire_date: :desc).each_with_index do |tv, index| %>
	  <tr>
	  	<td align=center><br><%= index+1 %></td>
			<td style="padding-left: 120px;">
			<%= link_to tv.title, tv_url(tv) %>
			</td>
			<td align=center><br><%= tv.premire_date.strftime(' %Y-%d-%m ') %></td>
		</tr>
	<% end %>
	</table>
</div>
<br><br><br>
<%= link_to '<button type="button" class="btn-success">Add new show</button>'.html_safe, new_tv_url%>
</center>